@model Evaluation_Nuxiba.Models.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ocurrió un error al procesar tu solicitud.</h2>

@if (Model?.ShowRequestId ?? false)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo Desarrollo</h3>
<p>
    Cambia el entorno a <strong>Development</strong> para ver más detalles del error.
</p>